@media (max-width: 2560px) {
  .servers-container {
    display: grid;
    gap: 20px;
    justify-content: center; /* Center horizontally within the container */
    align-items: center; /* Center vertically within the container */
  }

  .server {
    width: 1400px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .server span {
    text-align: center;
  }

  .server img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 25px;
  }
}
